{% load bootstrap4 %}
<!DOCTYPE html>

<html>

<head>
    <title>黑客社社務系統</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        *{
            font-family: Microsoft JhengHei !important;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">黑客社社務系統</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'club_permissions_list' %}">權限管理列表</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'club_event_list' %}">事件列表</a></li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      管理員列表
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'club_permissions_list' %}">權限管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_category_list' %}">分類管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_event_list' %}">事件管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_checkin_list' %}">打卡紀錄管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_url_list' %}">網址管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_file_list' %}">檔案管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_album_list' %}">相簿管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_albumimage_list' %}">相片管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_poll_list' %}">投票管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_choice_list' %}">投票選項管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_choicerecord_list' %}">選項紀錄管理列表</a>
                            <a class="dropdown-item" href="{% url 'club_post_list' %}">公告管理列表</a>
                            
                
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                </ul>
        </div>
    </nav>
    <br>

    <div class="container">
            {% bootstrap_messages %}

        {% block content %}Replace this.{% endblock %}</div>

</body>

</html>