{% extends "base.html" %} {% load static %} {% block content %}
<p><a class="btn btn-default" href="{% url 'club_albumimage_list' %}">AlbumImage Listing</a></p>
<table class="table">
    <tr>
        <td>token</td>
        <td>{{ object.token }}</td>
    </tr>
    <tr>
        <td>created</td>
        <td>{{ object.created }}</td>
    </tr>
    <tr>
        <td>last_updated</td>
        <td>{{ object.last_updated }}</td>
    </tr>
    <tr>
        <td>img</td>
        <td>{{ object.img }}</td>
    </tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit AlbumImage</a> {% endblock %}